<div>
    Please Sign In
    <form #loginRef="ngForm" (ngSubmit)="loginUser(loginRef.value)">
        <input type="text" name="emailAddress" placeholder="Email Address" class="inputBox" ngModel required> <br/>
        <input type="password" name="password" placeholder="Password" class="inputBox" ngModel required> <br><br>
        <input type="submit" value="Sign In" class="button"><br>
        <hr class="line">
        <input type="button" value="Create Account" class="button2" routerLink="/createUser"/>
    </form>
</div>