<div class="menuContainer">
    <div class="menu">
        <ul>
            <li><a href="">ICIN Bank</a></li>
            <li><a href="/adminUsers">User Account</a></li>
            <li><a href="/checkbookRequests">Check Book Requests</a></li>
        </ul>
    </div>
</div>
<div class ="container">
    <h2>User Account Page</h2>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Primary Account</th>
        <th>Savings Account</th>
        <th>Enabled</th>
        <th>Action</th>
    </tr>
    <tr>
        
    </tr>
</div>