<div class="menuContainer">
    <div class="menu">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="user-home.component.html">Accounts</a></li>
            <li><a href="user-home.component.html">Transfer</a></li>
            <li><a href="user-home.component.html">Request</a></li>
            <li class="right"><a href="/userProfile">My Account</a></li>
        </ul>
    </div>
</div>

<div class = container>
    <div class="primaryBalance">
        Primary Balance: ${{checkingAccount.balance}}
        <div class="primaryBalanceDetails">
            <a href="/checkingDetails">View Details</a>
        </div>
    </div>

   
    <div class="deposit">
        <img class="cc-icon" src="assets/Images/credit-card.png" alt="credit-card">
        Deposit
        <div class="depositDetails">
           <a href="/deposit">Go To Deposit</a> 
        </div>
    </div>
 
    <div class="withdrawal">
        <img class="dol-icon" src="assets/Images/dollar-icon-png-3553.png" alt="dollar-icon">
        Withdrawal
        <div class="withdrawalDetails">
            <a href="/withdrawal">Go To Withdrawal</a>
        </div>
    </div>

    <div class="savingsBalance">
        Savings Balance: ${{savingsAccount.balance}}
        <div class="savingsBalanceDetails">
            <a href="/savingsDetails">View Details</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>